*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(2, 2, 58);
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
}

#player {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.navbar .logo {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li {
  font-weight: 300;
}

.navbar ul li .icon {
  line-height: 0.9;
  font-weight: 300;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-bottom: 100px;
}

.headline h2 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 16px 0;
  max-width: 510px;
}

.headline p {
  font-weight: 300;
  line-height: 1.5;
  max-width: 510px;
}

.headline .buttons {
  margin-top: 30px;
}

.headline .buttons a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 25px;
}

.headline .buttons a.get-started {
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 0 15px;
}
